#fondoSmart {
  background-repeat: no-repeat;
  background-color: orange;
  background-size: cover;
}


.contenedor{
	background-color: #FFDEAD;
	padding: 30px;
	border-radius: 10px;
}

.seleccion:hover{
	background-color: #D2691E !important;

}

.navbar-brand
{
  position: absolute;
  width: 100%;
  left: 0;
  text-align: center;
  margin:0 auto;


}
.navbar-toggle {
  z-index:3;
}
h4
{
color: white;

}