.contenedor{
	background-color: #e5e3e3;
	padding: 30px;
	border-radius: 10px;
}

/*menu*/
.navbar-brand
{
  position: absolute;
  width: 100%;
  left: 0;
  text-align: center;
  margin:0 auto;


}
.navbar-toggle {
  z-index:3;
}