


<nav class="navbar navbar-inverse navbar-fixed-top" >
  <div class="container-fluid"style="background:linear-gradient(to bottom, #733426 0%, #8e4b2f 100%);    ">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
     <a  class="navbar-brand"  href="#" style="color:black"></a>
      <a routerLink="/login">  <img  src="../../assets/img/logo.png" style="height: 4.2rem;"></a>

    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav" style="color: black;">
        <li class="active"><a routerLink="/administrador" routerLinkActive="active">Administrador</a></li>
    <li><a routerLink="/abmusuarios" routerLinkActive="active">ABM Usuarios</a></li>
      <li><a routerLink="/abmlocales" routerLinkActive="active">ABM Locales</a></li>
      <li><a routerLink="/estadisticas" routerLinkActive="active">Estadísticas</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a [routerLink]="[]" (click)="salir()" routerLinkActive="active"><span class=" glyphicon glyphicon-log-out"></span> Cerrar sesion</a></li>

      </ul>
    </div>
  </div>
</nav>

<div class="container contenedor">
    <br>
    <div class="row container">
        <div (click) = "abmUsuarios()" class="col-md-4">
            <div class="panel panel-info" style="cursor: pointer;">
				<div class="panel-heading" style="background: #8e4b2f;">
				    <h4 class="">ABM USUARIOS</h4>
				</div>
				<div class="panel-body">
				    Alta, baja y modificación de usuarios.
					<hr>
				    <img src="../../assets/img/abmusuarios.jpg" alt="" class="img-rounded img-responsive">
				</div>
				<!-- <div class="panel-footer">Panel footer</div> -->
			</div>
        </div>
        <div (click) = "abmLocales()" class="col-md-4">
            <div class="panel panel-info" style="cursor: pointer;">
                <div class="panel-heading" style="background: #8e4b2f;">
                    <h4 class="">ABM LOCALES</h4>
                </div>
                <div class="panel-body">
					Alta, baja y modificación de locales.
					<br><hr>
					<img src="../../assets/img/abmlocales.jpg" alt="" class="img-rounded img-responsive">
                </div>
            </div>
        </div>
        <div (click) = "estadisticas()" class="col-md-4">
            <div class="panel panel-info" style="cursor: pointer;">
                <div class="panel-heading" style="background: #8e4b2f;">
                    <h4 class="">ESTADISTICAS</h4>
                </div>
                <div class="panel-body">
					Verifique las estadísticas entre locales.
					<br><hr>
					<img src="../../assets/img/estadisticas.jpg" alt="" class="img-rounded img-responsive">
                </div>
            </div>
        </div>
    </div>
</div>